* {
  margin-left: 0;
  margin-right: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100vw;
  display: flex;
  height: 80px;
  align-items: center;
}
.navbar {
  width: 100%;
}
.navbar ul {
  margin-right: 16px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar ul a {
  text-decoration: none;
  color: rgb(82, 82, 82);
  font-weight: bold;
  font-size: 2em;
}
#logo {
  height: 60px;
}

/* Animation : surligner au survol de la souris */
.navbar a {
  display: inline;
  position: relative;
  color: black;
  text-decoration: none;
  padding-bottom: 5px;
}
.navbar a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  width: 0%;
  left: 0px;
  height: 1px;
  transition: 0.25s cubic-bezier(0.72, -0.01, 0.19, 0.92);
  background: black;
}
.navbar a:hover:after {
  width: 100%;
}
/* ********************************************* */
main {
  height: 100vh;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover {
  background-image: url(./images/einstein/depuis-quand-mesure-t_on-le-temps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  width: 100%;
  filter: hue-rotate(210deg);
  z-index: -1;
}
h1 {
  font-size: 4em;
  color: rgb(245, 172, 227);
  position: absolute;
  top: 12%;
  left: 42.5%;
}
.titre {
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
  font-size: 3em;
  color: rgb(164, 154, 225);
  width: 70%;
}


.photo-figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    height: 50vh;
    flex-direction: row;
   
}
.photo-figure div {
    width: 250px;
    height: 200px;
    margin: 5px;
    overflow: hidden;
    object-fit: cover;
}
h3 {
  border: 1px solid rgb(164, 154, 225);
  text-align: center;
  color: rgb(164, 154, 225);
  font-weight: bold;
  font-size: 1.2em;
  width: auto;
  margin-bottom: 0;
  margin-top: 0;
}
.scroll-text {
    opacity: 0;
    position: absolute;
    outline: 20px ridge rgb(164, 154, 225);
    transition: all 0.5s ease-in-out;
}
.scroll-text h3 {
    background-color: white;
}
.scroll-text p {
    color: white;
    opacity: 0.8;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.scroll-text:hover {
    overflow: auto;
    transform: scale(1.5);
    height: 300px;
    width: 500px;
    background-color: rgb(164, 154, 225);
    opacity: 0.8;
    transition: 0.5s ease-in-out;
    font-size: 26px;
    opacity: 1;
}

footer {
  width: 100vw;
  background: rgb(13, 28, 69);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.footer ul {
  margin: 0;
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  top: 50%;
}
.footer a {
  color: white;
  font-size: 1.8em;
}
.cercle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-54%);
}
footer span {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgb(240, 223, 223);
  position: relative;
}
